<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Reservaciones </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-datetime
      locale="es-ES"
      hourCycle="h12"
      [firstDayOfWeek]="1"
      [highlightedDates]="highlightedDates"
      (ionChange)="dateChange($event)"
    >
    </ion-datetime>
  </ion-item>

  <ion-list lines="full" class="custom-list">
    <ion-item *ngFor="let item of detalles" class="appointment-item">
      <ion-avatar slot="start" class="avatar-custom">
        <ion-icon name="calendar" class="calendar-icon"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="appointment-time">
          {{ item.attributes.appointment[0] + "T" +
          item.attributes.appointment[1] | date: "shortTime" }}
        </h2>
        <p class="appointment-details">{{ item.attributes.details }}</p>
      </ion-label>

      <ion-button fill="clear" color="primary" slot="end" (click)="editReservation(item)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <ion-button
        fill="clear"
        color="danger"
        slot="end"
        (click)="deleteReservation(item)"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <style>
    .custom-list {
      background-color: #f0f4f7;
      border-radius: 8px;
      padding: 10px;
    }

    .appointment-item {
      background-color: #ffffff;
      border-radius: 8px;
      margin-bottom: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .avatar-custom {
      background-color: #4caf50;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .calendar-icon {
      color: #ffffff;
      font-size: 24px;
    }

    .appointment-time {
      font-weight: bold;
      font-size: 16px;
      color: #333333;
    }

    .appointment-details {
      color: #666666;
      font-size: 14px;
    }
  </style>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="setOpen(true)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nueva Reservación</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-select [(ngModel)]="selectedServiceId" placeholder="Servicio">
            <ion-select-option
              *ngFor="let servicio of servicios"
              [value]="servicio.id"
            >
              {{ servicio.attributes.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input
            [(ngModel)]="details"
            label="Detalles"
            labelPlacement="floating"
            placeholder="Detalles"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-datetime
            [(ngModel)]="selectedDate"
            locale="es-ES"
            hourCycle="h12"
            [firstDayOfWeek]="1"
            [isDateEnabled]="isWeekday"
            [highlightedDates]="highlightedDates"
          ></ion-datetime>
        </ion-item>

        <ion-button expand="full" (click)="saveReservation()"
          >Guardar Reservación</ion-button
        >
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Editar -->
  <ion-modal [isOpen]="isEditModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Reservación</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setEditOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-select [(ngModel)]="selectedServiceId" value="{{  selectedServiceId  }}" placeholder="Servicio">
            <ion-select-option
              *ngFor="let servicio of servicios"
              [value]="servicio.id"
            >
              {{ servicio.attributes.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input
            [(ngModel)]="details"
            label="Detalles"
            labelPlacement="floating"
            placeholder="Detalles"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-datetime
            [(ngModel)]="selectedDate"
            locale="es-ES"
            hourCycle="h12"
            [firstDayOfWeek]="1"
            [isDateEnabled]="isWeekday"
            [highlightedDates]="highlightedDates"
          ></ion-datetime>
        </ion-item>

        <ion-button expand="full" (click)="updateReservation()"
          >Actualizar Reservación</ion-button
        >
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
